# Pytest
.pytest_cache/

# IDE
.idea/

# Venv
venv/

# Data
data/html/matches/*
!data/html/matches/.gitkeep
data/html/players/*
!data/html/players/.gitkeep
data/html/teams/*
!data/html/teams/.gitkeep
